body {
    background-image: url('../images/find-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .table1{
    padding: 9vw;
    margin-top: 100px
  }

 
  td {
    border: 1px solid #5aa9e6;
    text-align: center;
    padding: 8px;
    background-color: #ffffff;
  }

  th {
    border: 1px solid #5aa9e6;
    background-color: #b5daf6;
  }
  h2{
    text-align: center;
    padding: 2px;
    color:#5aa9e6;
  }